body {
    background-color: #53527e;
    font-family: "Roboto", sans-serif;
}

.login {
    background-color: #ffffff;
    padding: 3rem;
    margin-top: 10px;
    width: 300px;
    margin: 15px auto;
    border-radius: 30px;
}

.login img {
    width: 100px;
}

.login h1 {
    font-size: 25px;
    font-weight: 700;
}

.input-box img {
    width: 20px;
}

.input-box {
    position: relative;
    width: 250px;
    margin: 15px;
}

.input-box .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 20px;
    opacity: 0.5;
}

input {
    border: none;
    background-color: #f6f6f6;
    margin-left: 12px;
}

input:focus {
    outline: none;
}


.input-box {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.p-text p {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.btn-3 {
    padding: 12px;
    width: 280px;
    text-align: center;
    background-color: #3a3969;
    border: none;
    color: white;
    border-radius: 8px;
}

a {
    font-size: 15px;
    color: #ce949f;
    font-weight: 400;
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up p {
    font-size: 16px;
    font-weight: 400;
    color: #c28594;
}

.checkbox-text {
    margin: 1rem 0;
    font-size: 14px;
}

.footer-text{
    font-size: 14px;
}