body {
    background-color: #53527e;
}

.login-in {
    background-color: #ffffff;
    padding: 3rem;
    margin-top: 2px;
    width: 300px;
    height: 600px;
    margin: auto;
    border-radius: 30px;
}

.login-in img {
    width: 100px;
}

.login-in h1 {
    font-size: 25px;
    font-weight: 700;
}

.login-in p {
    font-size: 20px;
    font-weight: 400;
}

.input-box img {
    width: 20px;
}

.input-box {
    position: relative;
    width: 250px;
    margin: 15px;
}

.input-box .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 20px;
    opacity: 0.5;
}

input {
    border: none;
    background-color: #f6f6f6;
}

input:focus {
    outline: none;
}


.input-box {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.p-text p {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}

.btn-3 {
    padding: 12px;
    width: 280px;
    text-align: center;
    background-color: #3a3969;
    border: none;
    color: white;
    border-radius: 8px;
}